  <div>
    <mat-form-field class="longDescription" >
      <mat-label>Title</mat-label>
      <input matInput id="title" [(ngModel)]="model.title" name="title" #title="ngModel" >
    </mat-form-field>
  </div>


  <mat-form-field class="FieldDescription">
    <mat-label>Description</mat-label>
    <textarea matTextareaAutosize matAutosizeMinRows=2 matAutosizeMaxRows=5 matInput id="description"  [(ngModel)]="model.description" name="description" ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="longChip">
    <mat-label>Select a Label</mat-label>
    <mat-select [(ngModel)]="selectedValue" name ="label">
      <mat-option *ngFor="let value of this.labels" [value]="value.name" id="value.name">
        {{value.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class= "longDescription">
    <mat-label>Select a day</mat-label>
    <input id="mat-Add_todo-Date-input" matInput [matDatepicker]="picker" [(ngModel)]="model.date" name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker (selectedChanged)="onDate($event)" #picker></mat-datepicker>
  </mat-form-field>
    <button id="Add_todo_button" style="background-color:#372f7b;color: white;font-family: Raleway;" (click)="onSubmit()" mat-raised-button [mat-dialog-close]="true">Add Todo</button>
    <button style="background-color:#32751f;color: white;font-family: Raleway;margin-left: 210px;"  mat-raised-button mat-dialog-close>Close </button>


