
      <form style="background-color: white;border:double; border-color:#372f7b;border-radius: 1.3%;border-width: 1px;" (ngSubmit)="onSubmit()" #todolist="ngForm" >
        <mat-form-field  appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput id="title" [(ngModel)]="model.title" name="title" #title="ngModel" >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput id="description"  [(ngModel)]="model.description" name="description" >
        </mat-form-field>
        <div>
          <button style="background-color:#372f7b;color: white;font-family: Raleway;" mat-raised-button>Add Todo</button>
        </div>

      </form>
