<mat-toolbar x-test-tpl-20987>
  <mat-toolbar-row style="background-color:#372f7b; font-family:Raleway;" x-test-hook-20988>
    <span style="color:  white; font-size: 100%; " x-test-hook-20989>TodoApp </span>
    <span class="example-spacer" x-test-hook-20990></span>
    <div x-test-hook-20991>
      <a x-test-hook-20992> </a>
      <button id="log-out-button" mat-button  *ngIf="this.userId" style="color: white;font-size: 85%;font-family:Raleway;"(click)="doLogout()" x-test-hook-20993>log out</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div x-test-tpl-20994>
<router-outlet x-test-hook-20995></router-outlet>
</div>
