@import url('https://fonts.googleapis.com/css?family=Raleway');

nav {
  height: 3 em;
  text-align: center;
  font-family: "Raleway";
  padding-top:1%;

}
nav .center-title{
  padding-bottom: 0.5%;
}

ul{
  list-style-type: none;
}
li{
  float: left;
}

.example-spacer {
  flex: 1 1 auto;
}

