<!--<mat-spinner style="margin:0 auto;margin-top: 50%" *ngIf="todoArray.length == 0"></mat-spinner>-->
<mat-toolbar x-test-tpl-20996>
  <mat-toolbar-row x-test-hook-20997>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon" x-test-hook-20998>
       <mat-icon style="color: #372f7b;" x-test-hook-20999>menu</mat-icon>
     </button>
    <button id="calendar" style="color: orange; margin-left: 20px; " mat-raised-button (click)="openCalDialog()" x-test-hook-21000>Calendar</button>
     <button style="color: orange; margin-left: 20px; " mat-raised-button (click)="openAddDialog()"  x-test-hook-21001>Add todo</button>

      <mat-form-field style="font-size: 12px;font-family: Raleway;margin-top: 15px; width: 15%;margin-left:20px; color:orange" appearance="outline" x-test-hook-21002>
        <mat-label  x-test-hook-21003>Search todo by title</mat-label>
        <input  matInput [(ngModel)]="todoTitle" x-test-hook-21004>
      </mat-form-field>
      <button style="color: orange; margin-left: 20px; " mat-raised-button (click)="filterByTitle(todoTitle)"  x-test-hook-21005>Search</button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container  style="height: 100vh;" x-test-tpl-21006>
  <mat-sidenav #drawer mode="side" class="example-sidenav" x-test-hook-21007>
    <mat-selection-list #etichette [multiple]="false" x-test-hook-21008>
      <mat-list-option style="color: orange;" *ngFor="let value of this.listaEtichette" [value]="value.name" (click)="filterByEtichetta(value.name)" x-test-hook-21009>
        {{value.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content  x-test-hook-21010> <!-- [hidden]="!isEmpty"-->

    <mat-list  *ngIf="todoArray.length > 0" style="border: none;background-color:white;border-radius: 1.3%;" x-test-hook-21011>
      <mat-list-item id="value.title"[style.background]="value.color" class="card" *ngFor="let value of displayArray"  x-test-hook-21012>
        <mat-checkbox (change)="checkedTodo(value)" [(ngModel)]="this.value.checked" x-test-hook-21013></mat-checkbox>
        <h4 style="text-align:center;" (click)="openDialog(value)" style="font-family: Raleway; color:  #372f7b;" matLine x-test-hook-21014><span style="font-style: italic;" x-test-hook-21015></span> {{ value.title}} </h4>


        </mat-list-item>
      </mat-list>

  </mat-sidenav-content>
</mat-sidenav-container>









    <!-->

    <span #valueTitle style="font-family: Raleway; color:  #372f7b;"> {{value.title}}</span>
    <mat-form-field *ngIf="valueTitle.hidden">
      <input style="font-family: Raleway; color:  #372f7b;" matInput [(ngModel)]="value.title" [hidden]="!valueTitle.hidden"  #edit>
    </mat-form-field>
     <button mat-icon-button (mousedown)="valueTitle.hidden = false;" *ngIf="valueTitle.hidden"><mat-icon>check_circle</mat-icon></button>
      <button mat-icon-button (click)="valueTitle.hidden = true" *ngIf="!valueTitle.hidden" ><mat-icon>edit</mat-icon></button>
      <button style="border:white; background-color: white" mat-icon-button (click)="cancelTodo(value)">
        <mat-icon style="color:#372f7b;background-color:white" matListIcon>delete</mat-icon>
      </button>
<-->
    <!-->
    <-->






