
<mat-tab-group animationDuration="0ms" x-test-tpl-20918>
  <mat-tab label="Todo" x-test-hook-20919>
    <mat-list *ngIf="todoArray.length > 0" style="border: solid;border-color:rgba(0,0,0,.12); border-width:0.5px;background-color:white;width:60%;border-radius: 1.3%; margin-left:20%;" x-test-hook-20920>
      <mat-list-item  style="background-color: white;color: white;"  *ngFor="let value of todoArray" x-test-hook-20921>
          <h4 style="font-family: Raleway; color:  #372f7b;" matLine x-test-hook-20922><span style="font-style: italic;" x-test-hook-20923> title : </span> {{ value.title}} </h4>
           <button  style="border:white; background-color: white" mat-icon-button (click)="openDialog(value)"  x-test-hook-20924><mat-icon style="color:#372f7b;" x-test-hook-20925>edit</mat-icon></button>
           <button style="border:white; background-color: white" mat-icon-button (click)="cancelTodo(value)" x-test-hook-20926>
            <mat-icon style="color:#372f7b;background-color:white" matListIcon x-test-hook-20927>delete</mat-icon>
          </button>
          <button style="border:white; background-color: white" mat-icon-button (click)="checkedTodo(value)" x-test-hook-20928><span style="color: green;" class="material-icons" x-test-hook-20929>check</span></button>

          <mat-divider  x-test-hook-20930></mat-divider>
        </mat-list-item>

      </mat-list>
  </mat-tab>
  <mat-tab label="Completed" x-test-hook-20931>
    <mat-list *ngIf="todoChecked.length > 0" style="border: solid;border-color:rgba(0,0,0,.12); border-width:0.5px;background-color:white;width:60%;border-radius: 1.3%; margin-left:20%;" x-test-hook-20932>

      <mat-list-item style="background-color: white;color: white;"  *ngFor="let value of todoChecked" x-test-hook-20933>
          <h4 style="font-family: Raleway; color:  #372f7b;" matLine x-test-hook-20934><span style="font-style: italic;" x-test-hook-20935> title : </span> {{value.title}}</h4>
          <button style="border:white; background-color: white" mat-icon-button (click)="cancelChecked(value)" x-test-hook-20936>
            <mat-icon style="color:#372f7b;background-color:white" matListIcon x-test-hook-20937>delete</mat-icon>
          </button>
          <mat-divider x-test-hook-20938></mat-divider>
        </mat-list-item>
        </mat-list>
  </mat-tab>
  </mat-tab-group>

    <!-->

    <span #valueTitle style="font-family: Raleway; color:  #372f7b;"> {{value.title}}</span>
    <mat-form-field *ngIf="valueTitle.hidden">
      <input style="font-family: Raleway; color:  #372f7b;" matInput [(ngModel)]="value.title" [hidden]="!valueTitle.hidden"  #edit>
    </mat-form-field>
     <button mat-icon-button (mousedown)="valueTitle.hidden = false;" *ngIf="valueTitle.hidden"><mat-icon>check_circle</mat-icon></button>
      <button mat-icon-button (click)="valueTitle.hidden = true" *ngIf="!valueTitle.hidden" ><mat-icon>edit</mat-icon></button>
      <button style="border:white; background-color: white" mat-icon-button (click)="cancelTodo(value)">
        <mat-icon style="color:#372f7b;background-color:white" matListIcon>delete</mat-icon>
      </button>
<-->
    <!-->
    <-->






