.mat-list h3{
  justify-content: center;
}

.mat-icon-button{
  justify-content: right;
}


.center-inp {
  background-color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  margin-bottom: 0.2%;
}


.center-des{
  background-color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  margin-top: 0.15%;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 50%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.special-date {
  background-color: rgb(87, 172, 186);
  width: 5%;
  height: 5%;
  border-radius:100%;
  top:1%;

}

.mat-calendar-body-selected {
  background-color: #372f7b;
}

.tbody .mat-calendar-body {
  font-size: 18px;
  font-family: Raleway;
  height: 40%;
}


