<mat-toolbar>
  <mat-toolbar-row>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
       <mat-icon style="color: #372f7b;">menu</mat-icon>
     </button>
    <button style="color: orange; margin-left: 20px; " mat-raised-button (click)="openCalDialog()">Calendar</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="height: 100vh;">
  <mat-sidenav #drawer mode="side" class="example-sidenav">
    <mat-selection-list #etichette [multiple]="false">
      <mat-list-option style="color: orange;" *ngFor="let value of this.listaEtichette" [value]="value.name" (click)="filterByEtichetta(value.name)">
        {{value.name}}
      </mat-list-option>
    </mat-selection-list>




  </mat-sidenav>
  <mat-sidenav-content [hidden]="isEmpty">

    <mat-list  *ngIf="todoArray.length > 0" style="border: none;background-color:white;border-radius: 1.3%;">
      <mat-list-item class="card"  style="background-color: white;color: white;"  *ngFor="let value of displayArray">

        <mat-checkbox (change)="checkedTodo(value)" [(ngModel)]="this.value.checked"></mat-checkbox>
        <h4 style="text-align:center;" (click)="openDialog(value)" style="font-family: Raleway; color:  #372f7b;" matLine><span style="font-style: italic;"></span> {{ value.title}} </h4>

          <mat-divider ></mat-divider>
        </mat-list-item>
      </mat-list>

  </mat-sidenav-content>
</mat-sidenav-container>









    <!-->

    <span #valueTitle style="font-family: Raleway; color:  #372f7b;"> {{value.title}}</span>
    <mat-form-field *ngIf="valueTitle.hidden">
      <input style="font-family: Raleway; color:  #372f7b;" matInput [(ngModel)]="value.title" [hidden]="!valueTitle.hidden"  #edit>
    </mat-form-field>
     <button mat-icon-button (mousedown)="valueTitle.hidden = false;" *ngIf="valueTitle.hidden"><mat-icon>check_circle</mat-icon></button>
      <button mat-icon-button (click)="valueTitle.hidden = true" *ngIf="!valueTitle.hidden" ><mat-icon>edit</mat-icon></button>
      <button style="border:white; background-color: white" mat-icon-button (click)="cancelTodo(value)">
        <mat-icon style="color:#372f7b;background-color:white" matListIcon>delete</mat-icon>
      </button>
<-->
    <!-->
    <-->






